{% extends 'ecom/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static '/css/xs.css'%}">
<link rel="stylesheet" href="{% static '/css/ml.css'%}">
<link rel="stylesheet" href="{% static '/css/mt.css'%}">
<link rel="stylesheet" href="{% static '/css/mt2.css'%}">
<link rel="stylesheet" href="{% static '/css/mt3.css'%}">
<link rel="stylesheet" href="{% static '/css/ml2.css'%}">
<link rel="stylesheet" href="{% static '/css/paddings.css'%}">




    <div style="background-color:rgb(82, 133, 58)" class="container-fluid">
        <nav class="container navbar navbar-expand-lg">
        </nav>
    </div>
    <div class="container pt-5 mt30-">
            <h1>Orders from your Products</h1>
            <hr>      
                <span class="mb-3">Orders</span><span class="pad180">Date</span><span class="pad250">Order Status</span><div class="mt23-" align="center" ><span>{{ order.order_status }}</span></div><div class="mt23- mr-3" align="right"><span>PRICE</span></div>
            <hr>
    
    {% for order in orders %}
        <a href="{% url 'order-detail' order.id %}"> {{ order.order_number }}</a><span class="ml100 text-muted">{{ order.date_placed|date:'l , j M' }}</span><div class="mt23- text-muted" align="center"><a class="nav-link dropdown-toggle mt33-" style="color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ order.order_status }}</a><div class="dropdown-menu" aria-labelledby="navbarDropdown"><form method="POST" action="{% url 'tracking-number' order.id %}">{% csrf_token %}<a class="dropdown-item" href="#">


    
    <div id="div_id_tracking_number" class="form-group">
        
            <label for="id_tracking_number" class="">
                {{ order.order_status }}
            </label>
        

        

        

        
            
                <div class="">
                    {% if order.tracking_number != 'Not Provided Yet' %}
                        <input type="text" name="tracking_number" value="{{ order.tracking_number }}" maxlength="200" class="textinput textInput form-control" id="id_tracking_number">
                    {% elif order.tracking_number == 'Not Provided Yet' %}
                        <input type="text" name="tracking_number" value="Not Provided Yet" maxlength="200" class="textinput textInput form-control" id="id_tracking_number">   
                    {% endif %}

    




    



                </div>
            
        
    </div>
    

</a></form></div></div><div class="mt30-" align="right"><span>{{ order.price_paid }}€</span></div>

		
      
      <hr>
    {% endfor %}
</div>
{% endblock content %}